<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>info</title>
</head>
<body>
<h1> info </h1>
<table border="1" width="50%" height="50px">
    <tr>
        <td><span th:text="${member.seq}"></span></td>
        <td><span th:text="${member.id}"></span></td>
        <td><span th:text="${member.name}"></span></td>
        <td><span th:text="${member.email}"></span></td>
    </tr>
</table>
<a th:href="@{'/members'}"> list </a>





</body>
</html>